nav {background-color:#000000; color:gainsboro}
body {background-color:#000000; color:gainsboro}
h1 {color:gainsboro}
h2 {color:gainsboro}
p {background-color:#000000; color:gainsboro}
aside {background-color:#000000; color:gainsboro}
footer {position:fixed; bottom:10px; left:0}