nav {background-color:#000; color:gainsboro}
body {background-color:#000; color:gainsboro}
h1 {color:gainsboro}
h2 {color:gainsboro}
p {background-color:#000; color:gainsboro}
aside {background-color:#000; color:gainsboro}
footer {position:fixed; bottom:10px; left:0}
.button-stack button {
  background-color: #000; /* Black background */
  border: none; /* No border */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  width: 35%; /* Set a width if needed */
  height: 35px;
  display: block; /* Make the buttons appear below each other */
  margin: auto;
  position: relative;
  top: 55vh;
}